body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin-top: 80px;
    padding: 10px;
    border: 1px solid black;
}
.box{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    overflow: hidden;
}
img{
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    animation: bounce 5s linear infinite;
}

@keyframes bounce{
    0%  {left: -5px; top: 0px; animation-timing-function: ease-in; width: 90px;}
    16.6% {left: 150px; top:420px; animation-timing-function: ease-out; width: 110px; height: 80px;}
    33% {left: 250px; top: 0px; animation-timing-function: ease-in; width: 90px; height: 100px;}
    48% {left: 405px; top: 350px; animation-timing-function: ease-out; width: 100px; height: 100px;}
    51% {left: 390px; top: 420px; animation-timing-function: ease-out; width: 110px; height: 80px;}
    66% {left: 250px; top: 0px; animation-timing-function: ease-in; width: 90px; height: 100px;}
    85% {left: 150px; top: 420px; animation-timing-function: ease-out; width: 110px; height: 80px;}
    100% {left: -5px; top: 0px; animation-timing-function: ease-in; width: 90px; height: 100px;}
}