body{
    margin-left: -5px;
    margin-right: -5px;
    font-family:'Times New Roman', Times, serif;
}
.columns{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 3px;
    
    width: 100%;
    height: 700px;
}
.col{
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: brown;
}

.col-1{
    background-color: #244f75;
    animation: slideInLeft 500ms;
}
.col-2{
    background-color: #60bfbf;
    animation: slideInUp 700ms;
}
.col-3{
    background-color: #8c4b7e;
    animation: slideInDown 700ms;
}
.col-4{
    background-color: #f8bb44;
    animation: slideInUp 800ms;
}
.col-5{
    background-color: #f24b4b;
    animation: slideInRight 800ms;
}

.color-1{
    background-color: #396083;
}
.color-2{
    background-color: #67c2c2;
}
.color-3{
    background-color: #915384;
}
.color-4{
    background-color: #f8be4d;
}
.color-5{
    background-color: #f35353;
}

h1{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 107%;
    width: 270px;
    transform: skew(30deg);
}
h1:hover{
    width: 700px;
}
span{
    display: grid;
    color: white;
    font-size: 45px;
    transform: skewX(-30deg);
}



